{% extends 'base-col.html' %}

{% block left %}
<div class="list-group-item list-topic-item" id="topic-{{bbs.id}}">
{% block page-content %}

<div>
<!-- Place inside the <head> of your HTML -->
<script type="text/javascript" src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">

tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: '<b>Test 1</b>'},
        {title: 'Test template 2', content: '<em>Test 2</em>'}
    ],

});
</script>

<!-- Place this in the body of the page content -->
<form method="post" action="/bbs_sub/">
    {% csrf_token %}
    <textarea name="content"></textarea>

    <input type="submit" value="保存"/>
</form>
</div>

{% endblock %}
</div>
{% endblock %}
