



<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=360, initial-scale=0.75 user-scalable=no">

    <meta name="keywords" content="" />
    <meta name="description" content="" />

        <title>
            主页-

            醉酒的探狗 演示网站
        </title>

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="/static/css/codehilite.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">醉酒的探狗</a>
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/recent/">最近主题</a></li>
                     <li class=""><a href="/node/">所有节点</a></li>

                </ul>
                    <div class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input onkeydown="if(event.keyCode==13){search();}" type="text" id="search" class="form-control" name="search" placeholder="输入关键词">
                        </div>
                        <a class="btn btn-default" id="search-btn">
                            搜索
                        </a>
                    </div>
                </div>
            </div><!--end nav container-->
        </nav><!--end nav-->

        <div id="wrap">
            <div class="container" id="main">
                <div class="row">

<div class="col-md-8" id="left">




<div class="panel panel-default">
    <div class="panel-heading title-breadcrumb">



            最近的主题



    </div>

    <ul class="list-group">


        <div class="list-group-item list-topic-item" id="topic-27">
            <div class="row ">
                <a href="/user/41/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="tcitry" class="avatar-middle" src="http://www.gravatar.com/avatar/7299cfb7415c83033f2a9aa9f635b2c6?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/27/">请问作者topic表里面的last_replied字段改如何处理可以让最后回复的帖子排到最上面？</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">1997次点击</span>

                        <span class="list-time">6 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/41/info/">tcitry</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">20</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-34">
            <div class="row ">
                <a href="/user/91/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="ssad" class="avatar-middle" src="http://www.gravatar.com/avatar/8741f94f3e15b83b09c16ba405ce8cc1?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/34/">This is a test</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">103次点击</span>

                        <span class="list-time">2 周，1 日 之前</span>
                        <span class="list-username"><a href="/user/91/info/">ssad</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-33">
            <div class="row ">
                <a href="/user/87/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="zouyapeng" class="avatar-middle" src="http://www.gravatar.com/avatar/46cb01ce5d6b37ad97010f0475e863d7?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/33/">test</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">245次点击</span>

                        <span class="list-time">4 周，1 日 之前</span>
                        <span class="list-username"><a href="/user/87/info/">zouyapeng</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-29">
            <div class="row ">
                <a href="/user/46/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="aaa" class="avatar-middle" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/29/">请问怎么改成中文</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">995次点击</span>

                        <span class="list-time">6 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/46/info/">aaa</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">13</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-32">
            <div class="row ">
                <a href="/user/83/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="astwyg" class="avatar-middle" src="http://www.gravatar.com/avatar/156fc7a47e110c92f175caf769ddaf37?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/32/">asdasd</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">303次点击</span>

                        <span class="list-time">1 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/83/info/">astwyg</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-9">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/9/">现在github是和演示站一样的版本</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">4670次点击</span>

                        <span class="list-time">9 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">13</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-23">
            <div class="row ">
                <a href="/user/24/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="sincerefly" class="avatar-middle" src="http://www.gravatar.com/avatar/142b31eb3ca6eb9d7c90854f0adeb168?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/23/">AT功能是否应该再改进下下。</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">949次点击</span>

                        <span class="list-time">8 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/24/info/">sincerefly</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">12</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-5">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/5/">补充功能列表</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">677次点击</span>

                        <span class="list-time">10 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">2</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-11">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/11/">FairyBBS SAE新版本发布，部署更方便</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">1197次点击</span>

                        <span class="list-time">9 月 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">9</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-26">
            <div class="row ">
                <a href="/user/44/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="gaoxiang" class="avatar-middle" src="http://www.gravatar.com/avatar/ac999c9a769eeb3109350f0d467024b3?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/26/">test</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">722次点击</span>

                        <span class="list-time">7 月 之前</span>
                        <span class="list-username"><a href="/user/44/info/">gaoxiang</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">10</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-24">
            <div class="row ">
                <a href="/user/34/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="wangyu" class="avatar-middle" src="http://www.gravatar.com/avatar/5c72ec3ea683106bfdd0cf8832d89b63?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/24/">hi</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">509次点击</span>

                        <span class="list-time">8 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/34/info/">wangyu</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">0</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-22">
            <div class="row ">
                <a href="/user/32/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="alen" class="avatar-middle" src="http://www.gravatar.com/avatar/dc9c9cb7574ff0e6aa7fdc1eb1e662c8?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/22/">内容页的图片有问题</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">700次点击</span>

                        <span class="list-time">8 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/32/info/">alen</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">4</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-20">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/20/">sequence index must be integer, not &#39;slice&#39; 问题原因</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">573次点击</span>

                        <span class="list-time">8 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-8">
            <div class="row ">
                <a href="/user/12/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="haha" class="avatar-middle" src="http://www.gravatar.com/avatar/de8c8f56b6ed759dffe1d8eb8927e943?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/8/">测试一下</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">696次点击</span>

                        <span class="list-time">9 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/12/info/">haha</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">2</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-14">
            <div class="row ">
                <a href="/user/26/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="SIFT2009" class="avatar-middle" src="http://www.gravatar.com/avatar/b1eeb4e6908758f3f501713b7bcc7f40?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/14/">安装时出错</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">665次点击</span>

                        <span class="list-time">8 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/26/info/">SIFT2009</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">6</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-15">
            <div class="row ">
                <a href="/user/26/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="SIFT2009" class="avatar-middle" src="http://www.gravatar.com/avatar/b1eeb4e6908758f3f501713b7bcc7f40?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/15/">cannot import name LANGUAGE_SESSION_KEY</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">945次点击</span>

                        <span class="list-time">8 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/26/info/">SIFT2009</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">3</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-10">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/10/">VPS上的部署实例</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">1076次点击</span>

                        <span class="list-time">9 月，2 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">10</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-16">
            <div class="row ">
                <a href="/user/26/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="SIFT2009" class="avatar-middle" src="http://www.gravatar.com/avatar/b1eeb4e6908758f3f501713b7bcc7f40?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/16/">sequence index must be integer, not &#39;slice&#39;</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">1682次点击</span>

                        <span class="list-time">8 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/26/info/">SIFT2009</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">5</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-12">
            <div class="row ">
                <a href="/user/26/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="SIFT2009" class="avatar-middle" src="http://www.gravatar.com/avatar/b1eeb4e6908758f3f501713b7bcc7f40?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/12/">为什么 不能发表图片呢</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">676次点击</span>

                        <span class="list-time">8 月，4 周 之前</span>
                        <span class="list-username"><a href="/user/26/info/">SIFT2009</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">3</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-13">
            <div class="row ">
                <a href="/user/26/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="SIFT2009" class="avatar-middle" src="http://www.gravatar.com/avatar/b1eeb4e6908758f3f501713b7bcc7f40?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/13/">为什么 不能发表图片呢</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">553次点击</span>

                        <span class="list-time">8 月，4 周 之前</span>
                        <span class="list-username"><a href="/user/26/info/">SIFT2009</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-2">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/2/">开发状态。</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">708次点击</span>

                        <span class="list-time">10 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">1</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-4">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/4/">bug列表</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">726次点击</span>

                        <span class="list-time">10 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">4</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-7">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/7/">这个演示站L10N出了点问题</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">820次点击</span>

                        <span class="list-time">9 月，3 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">6</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-1">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/1/">抱歉，由于忘记续费，之前的数据丢失了。</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">832次点击</span>

                        <span class="list-time">10 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">2</span>
                </div>
            </div>
        </div>

        <div class="list-group-item list-topic-item" id="topic-6">
            <div class="row ">
                <a href="/user/1/info/" class="col-md-1 col-xs-2 col-sm-2"><img title="eric" class="avatar-middle" src="http://www.gravatar.com/avatar/d4bfad0b7cceda04392730fd731edc76?s=48&amp;d="></a>
                <div class="col-xs-9 col-md-10 col-sm-9">
                    <h3 class="list-post-title"><a href="/topic/6/">程序完善列表</a></h3>
                    <p class="list-meta">
                        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

                        <span class="list-count">779次点击</span>

                        <span class="list-time">10 月，1 周 之前</span>
                        <span class="list-username"><a href="/user/1/info/">eric</a></span>
                        <span class="list-reply-count-xs visible-xs"></span>
                    </p>
                </div>
                <div class="col-xs-1 col-sm-1">
                    <span class="badge pull-right list-reply-count hidden-xs">0</span>
                </div>
            </div>
        </div>

    </ul>
    <div class="panel-footer">

    </div>
</div>



</div><!--end left-->
<div class="col-md-4" id="right">


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        什么是FairyBBS
         </h3>
    </div>
    <div class="panel-body">

        <p class="text-center">
            FairyBBS是使用Django框架建立的小型论坛系统
        </p>
        <div class="row">
            <div class="col-md-6">
                <a href="/user/signin/" class="btn btn-block btn-info">登陆</a>
            </div>
            <div class="col-md-6">
                <a href="/user/reg/" class="btn btn-block btn-default">注册</a>
            </div>
        </div>


    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                节点
        </h3>
    </div>
    <div class="panel-body">

        <span class="label label-default list-meta-node"><a href="/node/1/">FairyBBS</a></span>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                链接
        </h3>
    </div>
    <ul class="list-group">

        <li class="list-group-item">
        <iframe src="http://ghbtns.com/github-btn.html?user=ericls&repo=FairyBBS&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=ericls&repo=FairyBBS&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>


        </li>
        <li  class="list-group-item">
        <a href="https://www.digitalocean.com/?refcode=c532c5ed406f "><img src="http://fairybbs.com/static/image/DO.png" style="max-width:100%; display:block;"/></a>
        </li>
    </ul>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                站点统计
        </h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            用户数量:95
        </li>
        <li class="list-group-item">
            话题数量:34
        </li>
        <li class="list-group-item">
            回复数目:133
        </li>
    </ul>
</div>


</div><!--end right-->

                </div><!--end outter row-->
            </div><!--end main-->
        </div><!--end wrap-->

        <footer id="footer">
            <div class="container clearfix">
                <div class="text-muted pull-left">
                   <p>
                    A <a target="_blank" href="//djangoproject.com">Django</a> project</p>
                </div>
                <p class="muted credit pull-right">
                    ©
                    <time>
                        2014
                    </time>
                    Powered by <a href="＃">xixijun</a> Ver 0.1
                </p>
            </div>
        </footer>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/search.js"></script>

    <!--zh-cn-->
    </body>
</html>
